@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
}

.app {
  max-width: 96%;
}

.content {
  display: flex;
}

.detail {
  flex: 1 1 60%;
}

.list {
  flex: 1 1 30%;
}

@media screen and (max-width: 780px) {
  .content {
    flex-direction: column;
  }
} ;
